<ng-container>
  <div class="center gap-4">
    <h1 class="font-semibold text-2xl">Tabel Substitusi</h1>
    <button
      class="center border p-1 border-gray-300 rounded-md"
      (click)="onToggleTable()"
    >
      <ng-icon
        [name]="isShowTable ? 'heroChevronUp' : 'heroChevronDown'"
      ></ng-icon>
    </button>
  </div>

  <table *ngIf="isShowTable" class="text-left text-sm font-light mx-4">
    <thead>
      <tr class="border-b font-medium dark:border-neutral-500">
        <th scope="col" class="px-6 py-4 text-center"></th>
        <th
          *ngFor="let char of tableHead"
          scope="col"
          class="px-6 py-4 text-center"
        >
          {{ char }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let char of substitutions | keyvalue : onCompare"
        class="border-b transition duration-300 ease-in-out hover:bg-neutral-100"
      >
        <td class="whitespace-nowrap px-6 py-4 font-medium">
          {{ char.key }}
        </td>
        <td *ngFor="let item of char.value" class="whitespace-nowrap px-6 py-4">
          {{ item }}
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
