<div class="center flex-col gap-2 p-4 pb-10 container max-w-md mx-auto">
  <div class="w-full">
    <label>
      <div class="mb-1 leading-tight">
        <p>Masukkan Secret Key</p>
        <span class="text-xs text-gray-500"
          >Pastikan secret key tidak berisi spasi.</span
        >
      </div>
    </label>
    <input
      class="border border-gray-300 focus:outline-none px-4 py-2 rounded-md focus:ring-1 focus:ring-blue-500 w-full"
      placeholder="Secret Key..."
      (input)="onChange($event)"
      (key.enter)="handleSubmit()"
    />
  </div>
  <button
    class="bg-gray-800 text-white px-4 py-2 rounded-md transform active:translate-y-[1px]"
    (click)="handleSubmit()"
  >
    Generate
  </button>
</div>
