<div class="center flex-col gap-2 p-4 pb-10 container max-w-md mx-auto">
  <div class="w-full">
    <label>
      <div class="mb-1 leading-tight">
        <p>Masukkan Secret Key</p>
        <span class="text-xs text-gray-500"
          >Pastikan secret key tidak berisi spasi.</span
        >
      </div>
    </label>
    <input
      class="input"
      placeholder="Secret Key..."
      (input)="onChange($event)"
      (key.enter)="handleSubmit()"
      [value]="secretKey"
    />
  </div>
  <button
    class="button"
    [ngClass]="{
      'disabled-button': !secretKey
    }"
    (click)="handleSubmit()"
    [disabled]="!secretKey"
  >
    Generate
  </button>
</div>
