<div class="center flex-col gap-2 p-4 pb-10 container max-w-md mx-auto">
  <div class="w-full">
    <label>
      <div class="mb-1 leading-tight">
        <p>Masukkan Secret Key</p>
        <span class="text-xs text-gray-500"
          >Pastikan secret key tidak berisi spasi.</span
        >
      </div>
    </label>
    <input
      class="input"
      placeholder="Secret Key..."
      (input)="onChange($event)"
      (key.enter)="handleSubmit()"
      [value]="secretKey"
    />

    <div class="py-2">
      <div class="checkbox">
        <input type="checkbox" #alphabetsOnly id="alphabets-only" />
        <label for="alphabets-only"> Hanya abjad </label>
      </div>
      <div class="checkbox">
        <input type="checkbox" #encryptedNumber id="encrypted-number" />
        <label for="encrypted-number"> Enkripsi angka </label>
      </div>
    </div>
  </div>
  <button
    class="button"
    [ngClass]="{
      'disabled-button': !secretKey
    }"
    (click)="handleSubmit()"
    [disabled]="!secretKey"
  >
    Generate
  </button>
</div>
