<page-layout>
  <secret-key-form
    [numberSubstitution]="numberSubstitution"
    (onGenerate)="onGenerate($event)"
  ></secret-key-form>

  <ng-container *ngIf="isGenerated()">
    <substitution-table
      class="center flex-col pb-10"
      [substitutions]="substitutions"
      [secretKey]="secretKey"
    ></substitution-table>

    <div class="center flex-col p-4 pb-10 container max-w-md mx-auto">
      <div class="flex flex-nowrap w-full gap-2 mb-4">
        <button
          class="px-4 py-2 rounded-md w-full"
          (click)="changeMode('encrypt')"
          [ngClass]="{
            'bg-gray-50 dark:bg-gray-800': mode ==='decrypt',
            'bg-gray-900 text-white dark:bg-white dark:text-black': mode === 'encrypt',
          }"
        >
          Enkripsi
        </button>
        <button
          class="px-4 py-2 rounded-md w-full"
          (click)="changeMode('decrypt')"
          [ngClass]="{
            'bg-gray-50 dark:bg-gray-800': mode ==='encrypt',
            'bg-gray-900 text-white dark:bg-white dark:text-black': mode === 'decrypt',
          }"
        >
          Dekripsi
        </button>
      </div>

      <crypter
        class="w-full"
        (onCrypt)="onEncrypt($event.value)"
        cryptType="encrypt"
        [result]="encryptResult"
        [isShow]="mode === 'encrypt'"
        [error]="getError('encrypt')"
        [substitutions]="substitutions"
      ></crypter>

      <crypter
        class="w-full"
        (onCrypt)="onDecrypt($event.value)"
        cryptType="decrypt"
        [result]="decryptResult"
        [isShow]="mode === 'decrypt'"
        [error]="getError('decrypt')"
        [substitutions]="substitutions"
      ></crypter>
    </div>
  </ng-container>
</page-layout>
